<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Lista de Pessoas</h1>
<a th:href="@{/pessoas/novo}">Adicionar nova pessoa</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>CPF</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${pessoas}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.cpf}"></td>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.email}"></td>
        <td>
            <a th:href="@{'/pessoas/editar/' + ${p.id}}">Editar</a> |
            <a th:href="@{'/pessoas/remover/' + ${p.id}}" onclick="return confirm('Tem certeza?');">Remover</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>